node_modules
dist
.env
.env.local
.env.*.local
.vercel

server/gameState.json
server/local_categories/
server/categoryConfig.json

.DS_Store
Thumbs.db
.idea
.vscode
*.log
npm-debug.log*

backup.ps1
restore.ps1
